/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

body {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 80%;
    position: relative;
    margin: auto;
}

button {
    padding: 10px 15px;
    border: 0px;
    border-radius: 20px;
    background-color: #ffffff;
}

button:hover {
    background-color: #23272a;
    color: #ffffff;
    transition: background-color 0.4s;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

/* header */

header {
    background-color: #3161E0;
    color: #ffffff;
}

header .container {
    padding: 15px 0;
}

header .container ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header .container ul li {
    display: inline-block;
    margin: auto 15px;
}

header .container li a {
    text-decoration: none;
    color: #ffffff;
}

header .logo{
    vertical-align: middle;
}

header button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}

/* hero */

.hero.background {
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.hero .container{
    min-height: 400px;
}

.hero section {
    text-align: center;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}

.hero section p {
    margin: 20px 0;
}

.hero section h2 {
    font-size: 2.5em;
    margin: 30px 0;
}

.hero section button {
    margin: 0 10px;
}

/* main section */

main section {
    padding: 40px 0;
    color: #23272a;
    height: 100vh;
}

.floating-img-left, .text-box-left {
    float: left;
    padding-right: 30px;
}

.floating-img-right, .text-box-right {
    float: right;    
    padding-left: 30px;
}

.large-col {
    width: calc(65% - 30px)
}

.narrow-col {
    width: calc(35% - 30px)
}

.text-box-left, .text-box-right {
    margin-top: 35px;
}

main section h2{
    font-size: 2em;
    margin-bottom: 10px;
}

main section:last-child {
    text-align: center;
}

main section:last-child .container h3 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
}

main section:last-child button {
    padding: 10px 15px;
    border: 0px;
    border-radius: 20px;
    background-color: #8ea1e1;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    margin-top: 30px ;
}
