/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

body {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 80%;
    position: relative;
    margin: auto;
}

button {
    padding: 10px 15px;
    border: 0px;
    border-radius: 20px;
    background-color: #ffffff;
}

button:hover {
    background-color: #23272a;
    color: #ffffff;
    transition: background-color 0.4s;
}

/* header */

header {
    background-color: #3161E0;
    color: #ffffff;
}

header .container {
    padding: 15px;
}

header .container ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header .container ul li {
    display: inline-block;
    margin: auto 15px;
}

header .container li a {
    text-decoration: none;
    color: #ffffff;
}

header .logo{
    vertical-align: middle;
}

header button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* hero */

.hero.background {
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.hero .container{
    min-height: 400px;
}

.hero section {
    text-align: center;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}

.hero section p {
    margin: 20px 0;
}

.hero section h2 {
    font-size: 2.5em;
    margin: 30px 0;
}

.hero section button {
    margin: 0 10px;
}